{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.json", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": [".prettierrc"],
      "options": {
        "parser": "json",
        "options": {
          "singleQuote": false
        }
      }
    }
  ]
}
